[2020-04-23 14:18] lintool opened #3 "Add version info in CovidQA dataset"
The dataset should have its version somewhere inside it. Also, the version should be in the file name.

Once release, the file becomes immutable. We make copies as we improve.

[2020-04-23 20:19] #3 closed, assigned to daemon

[2020-04-23 20:54] lintool opened #4 "Add the beginnings of the leaderboard"
Populate w/ entries from the paper.

[2020-04-23 21:14] lintool opened #5 "Separate README in repo from README on PyPI"
See https://github.com/castorini/pyserini/blob/master/setup.py#L3

I think it's a good idea to keep the README on PyPI separate from (and simpler than) the README in the repo. That way, we also don't have weird references to the repo itself in the repo README (so that you can point the PyPI README to the repo).

[2020-04-25 16:40] lintool opened #8 "Flatten the structure of the ground truth JSON"
For v0.0.2 of the dataset, should we flatten the nested hierarchy?

Currently, we have subcategories nested within categories. I propose to undo the nesting and just have something like:

[code]

That way, when we start integrating other sources, we wouldn't need to jam things into this rigid structure.

Thoughts?

[2020-04-25 19:09] daemon commented on #8
We could have a `raw/` folder of all the "raw" datasets containing the source-specific structure, from which a main dataset.json is coalesced.

[2020-04-25 20:08] lintool commented on #8
I think this is independent of a flat vs. a nested structure, because I can imagine answers from elsewhere that don't fit into a category/subcategory hierarchy.

But FWIW, I think `raw/` is over-engineering at this point... I would still vote for a single file.

[2020-04-25 20:46] daemon commented on #8
The way it's organized on Kaggle definitely fits better into a nested structure, so that could be `raw/kaggle.json`. Other sources might not have a category/subcategory hierarchy and thus would be flat.

But I'm okay with a flat file if we discard category/subcategory names, which would be redundant across many examples.

[2020-04-26 10:25] lintool commented on #8
Okay, let's keep the structure for now then.

[2020-04-26 10:25] #8 closed

[2020-04-29 15:09] daemon opened #11 "Add Jupyter or Colab notebooks"
Title says it all.

[2020-04-29 15:10] daemon opened #12 "Improve BioBERT MARCO and SQuAD usability"
Make the `T5CachedModelLoader` class more general to include *BERT -- should just be a few lines.

[2020-04-29 16:07] ronakice opened #15 "Add duoBERT"
I was looking into adding duo support (k-way ranking potentially) for MSMARCO and TREC-CAR.

For RelevanceExample, I was wondering if we can have documents as Union(List[Text], List[List[Text]]) instead of just List[Text]. I could also do something like this from the evaluate method in RerankerEvaluator. Another way is to add an is_duo argument to the various reranks/class. We could also create di

[2020-04-29 18:33] rodrigonogueira4 commented on #15
Yeah, that sounds good to me! For now, I would worry only about duo and forget about the general case as we don't even know how to make it computationally viable

[2020-04-30 19:37] mrkarezina commented on #11
Hi Ralph, have you already started working on a Colab notebook? I was trying to get more familiar with the project so I might end up making a notebook in the process.

What would be helpful to include or test in the notebook?

[2020-05-03 02:01] daemon commented on #11
Hey, sounds good. No, I haven't started -- a getting started guide for BM25 would probably be the best, since everyone can run BM25 with or without a GPU. Beyond that, T5 is probably the next most important due to its high quality.

[2020-05-03 11:55] mrkarezina commented on #11
Sounds good, i'll get started on that.

[2020-05-05 02:51] ronakice commented on #11
Resolved in #18

[2020-05-05 02:51] #11 closed

[2020-05-18 08:11] wongalvis14 opened #20 "Replication results"
Results on Hydra
CUDA 10.0
Python 3.7.7
Pytorch 1.5.0

Table 1 refers to the table in page 5 of "Rapidly Bootstrapping a Question Answering Dataset for COVID-19" https://arxiv.org/pdf/2004.11339.pdf

BM25: (matches Table 1)
precision@1	0.15
recall@3	0.2163978494623656
recall@50	0.619758064516129
recall@1000	0.6318548387096774
mrr	0.24284268136968856
mrr@10	0.22115655401945727

BERT: (matches Table

[2020-05-18 10:08] lintool commented on #20
@rodrigonogueira4 can you check?

[2020-05-18 11:09] rodrigonogueira4 commented on #20
Hi @wongalvis14, @lintool the difference with T5 is probably due to this commit: https://github.com/castorini/pygaggle/commit/3469584c283f6da43887ef0cf8f0292d56160916#diff-5b0372e42fa60f56502010013b7f72deR33

P@1 is now worse but R@3 and MRR are better.

Just to make sure this is the only difference, @wongalvis14, could you please rerun T5 with line 33 in pygaggle/rerank/transformer.py changed to

[2020-05-18 11:21] wongalvis14 commented on #20
@rodrigonogueira4

Hi,

It is line 41 on latest master.

The results are matched after changing that line to "length=2"

precision@1	0.28225806451612906
recall@3	0.40410906298003074
recall@50	0.9230990783410139
recall@1000	1.0
mrr	0.41510119151581487
mrr@10	0.4014592933947773

[2020-05-18 11:40] rodrigonogueira4 commented on #20
Great, so let's keep length=1 as this has shown much better performance on the ranking tasks. Regarding the lower P@1, that 0.8 difference might not be statistically significant as the test dataset is small.

[2020-05-20 10:23] lintool opened #21 "Create documentation page for MS MARCO passage replication"
This would be the pygaggle counterpart of: https://github.com/castorini/anserini/blob/master/docs/experiments-msmarco-passage.md

Let's name it `docs/experiments-msmarco-passage.md` to be consistent with Anserini. We'll add mutual references.

Let's start with monoBERT. Goal is for someone to be able to replicate monoBERT results following this doc. (At least on a subset.)

Plan is to run potentia

[2020-05-20 10:59] gabrer opened #22 "Duplicated answer in the QA dataset"
First, great work with the QA dataset and thanks for sharing!

I found the following answer is (wrongly) duplicated in the dataset:

Also, it might be helpful to specify that the ID refers to the context article rather than identifying uniquely the answer.

Hope this helps to review the dataset for future versions.

[2020-05-20 11:14] lintool commented on #22
Thanks for catching this!

[2020-05-22 11:56] #21 closed

[2020-05-22 19:53] ronakice opened #26 "Add mono models to huggingface model-zoo and incorporate into pipeline"
As pointed out in [hedwig](https://github.com/castorini/hedwig/issues/56), Huggingface's model-zoo provides a simple way of loading models without having for us to manually download models each time we use it. Besides, adding that would also allow us to track how many times our models are being used. Hence, this will be a great feature to incorporate into pygaggle.

Begin with monoBERT-large (shou

[2020-05-23 11:21] ronakice opened #28 "Try fixing MS MARCO encoding issues *before* pointwise re-ranking"
See if fixing encoding issues before re-ranking with monoT5/monoBERT has any effect on MRR@10 / Recall scores

Related work in first-stage ranking: [1](https://github.com/castorini/anserini/issues/1212) and [2](https://github.com/castorini/anserini/issues/945#issuecomment-576417312).

Start with smaller subsets, report, and scale up to the entire dev set.

[2020-05-23 11:30] ronakice commented on #28
Also a few examples of the text followed by the tokenized representation will be great! I found that the representations *do* change but I'm not sure if they always do.

[2020-05-23 14:57] daemon commented on #22
Closed in #23

[2020-05-23 14:57] #22 closed

[2020-05-24 13:18] lintool opened #31 "Move CovidQA experiments into separate page"
Instead of directly at top-level README, move into a separate page, like https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-passage.md so we can also start a replication log.

@ronakice @daemon thoughts?

[2020-05-24 13:24] ronakice commented on #31
Agreed! I was looking at how to best do this as you posted this! Since pygaggle is a ranker for multiple datasets this would be ideal. Should we separate out unsupervised techniques from supervised? Else there will be a lot of replication to do. I can take this on if you want and get the two URAs to verify.

[2020-05-24 13:39] ronakice commented on #31
Also do we go with replication on version 0.2 or 0.1?

[2020-05-24 13:40] lintool commented on #31
version 0.2; version 0.1 is defunct.

we probably want to put the version 0.2 numbers directly on the md page, since the arxiv paper is always going to lag behind...

[2020-05-24 13:42] ronakice commented on #31
Sounds good once we hear from Raphael I'll go ahead with it!

[2020-05-25 03:51] MXueguang commented on #28
Fixed text for both queries and passages by using `ftfy`'s `fix_text()`

monoBERT:
result without fix:
[code]
result with fix:
![611590364517_ pic_hd](https://user-images.githubusercontent.com/34487581/82776405-6d4bb480-9e7d-11ea-8dc6-3593d6eabc8c.jpg)
motoT5:
result without fix:
[code]
result with fix:
![601590346555_ pic_hd](https://user-images.githubusercontent.com/34487581/82776402-68870080-9e

[2020-05-25 10:15] ronakice commented on #28
@richard3983 can you report your results on the subset here too?

[2020-05-25 14:23] richard3983 commented on #28
Results after fixing encoding issues with `fix_text()`:
monoBERT:
<img width="697" alt="Screen Shot 2020-05-23 at 5 20 11 PM" src="https://user-images.githubusercontent.com/25696555/82820915-150eb580-9e71-11ea-833a-b2a889ac23cf.png">

monoT5:
<img width="699" alt="Screen Shot 2020-05-23 at 4 08 39 PM" src="https://user-images.githubusercontent.com/25696555/82820927-1d66f080-9e71-11ea-9b34-b500f515

[2020-05-26 09:59] MXueguang commented on #28
Result for second half of msmarco:
![631590476629_ pic_hd](https://user-images.githubusercontent.com/34487581/82887398-85edc480-9f7a-11ea-8f6e-c52a71b92443.jpg)

[2020-05-27 05:19] MXueguang commented on #28
Result for first half of msmarco:
![651590556726_ pic_hd](https://user-images.githubusercontent.com/34487581/82980678-a5d5c480-a01c-11ea-9513-544268d75041.jpg)

[2020-05-27 20:30] lintool opened #35 ""Install" anserini-eval submodule"
I've created: https://github.com/castorini/anserini-eval

Someone "install" in this repo, per https://github.com/castorini/anserini/issues/1216 ?

ref: https://github.com/castorini/pyserini/pull/145

[2020-05-29 20:20] lintool opened #39 "--model-name-or-path"
I just noticed this... srsly? How about just `--model`, and leave it in the description that it can either refer a name or a path?

On behalf of all future users who I've just saved a bunch of typing... you're welcome.

[2020-05-29 21:32] #39 closed

[2020-06-01 02:11] lintool opened #42 "Decommission numbert"
Hey @ronakice we should probably decommission the numbert repo?
https://github.com/castorini/numbert

Add a note to the README saying it's defunct, pointing to pygaggle? I'll archive it and make it read only on GitHub?

[2020-06-01 02:18] ronakice commented on #42
Yep! numBERT has some useful code with respect to inference/training which we'd need eventually incorporate into pygaggle / our future training framework. Also, TPU support etc.  Just pointing it out so we remember to go back to it eventually to re-use code segments

[2020-06-01 02:36] ronakice commented on #42
Done you can archive it!

[2020-06-01 03:04] ronakice commented on #26
This is done in #29

[2020-06-01 03:04] #26 closed

[2020-06-01 11:27] lintool opened #46 "evaluate/msmarco/msmarco_eval.py should be moved to anserini-eval repo"
https://github.com/castorini/anserini-eval

[2020-06-01 13:06] lintool commented on #42
Done!

[2020-06-01 13:06] #42 closed

[2020-06-01 13:06] lintool commented on #35
Closed by #45

[2020-06-01 13:06] #35 closed

[2020-06-01 13:33] lintool commented on #46
Merged: https://github.com/castorini/anserini-eval/pull/2

I think the way submodules work you have to manually update the commit in the checked out version in pygaggle?

[2020-06-01 13:33] lintool commented on #46
In the same commit, kill the version in this repo?

[2020-06-01 13:47] ronakice commented on #46
Yeah, it seems like it. At least for pygaggle, we probably only "rarely" need to update it for the time being.

On it!

[2020-06-01 15:28] lintool commented on #26
Don't think the counters are working? https://huggingface.co/castorini/monobert-large-msmarco

[2020-06-01 16:34] MXueguang commented on #26
weird, maybe because we haven't create README.md model card for the models on hugging face repo. I'll create one and ask them when making PR.

[2020-06-01 16:37] ronakice commented on #26
@MXueguang  run by the content of the card once you are done creating it, I'll note if anything needs changing! Thanks

[2020-06-01 16:48] ronakice commented on #26
Hey @lintool, can't seem to find any model updated after May 15th. So might just be taking time.

[2020-06-01 16:49] lintool commented on #26
haha, okay! thanks for following up!

[2020-06-01 16:59] lintool commented on #46
Closed by #47

[2020-06-01 16:59] #46 closed

[2020-06-01 17:06] ronakice opened #48 "Prepare for version='0.0.2'"
I think an update is long overdue, especially since we've added a lot of stuff, as well as the new CovidQA dataset.

[2020-06-01 19:08] lintool commented on #48
agreed!

[2020-06-01 19:08] ronakice commented on #48
@daemon lemme know when you've added me as a contributor to PyPI

[2020-06-11 06:27] ronakice commented on #28
Closing this for the time being as we saw no real improvements!

[2020-06-11 06:27] #28 closed

[2020-06-16 09:12] Mistobaan opened #52 "Machine Specifications/Requirements?"
I am trying to run the examples on a colab-pro notebook and the SciBERT model is crashing due to memory.
- What are the specifications of the machine you are using?
- Maybe is the torch version?
[code]
![image](https://user-images.githubusercontent.com/112599/84755613-af48b180-af76-11ea-9d18-a28c9f9895fa.png)
transformers `2.11.0`

[2020-06-17 15:31] lintool commented on #31
@ronakice I think we should go ahead and do this? I'm assuming @daemon just missed this note above.

[2020-06-17 16:32] ronakice commented on #31
Yep, I'll go ahead with it.

[2020-06-18 10:37] ronakice commented on #52
Hey, just outta curiosity did you try with a smaller batch size? Say 1?

[2020-06-18 20:33] Mistobaan commented on #52
Tried with `32`, `16`, and then just `1` batch size. With `1` it worked and got the results from the SCIBERT.
It seems strange indeed.

[2020-06-18 21:09] ronakice commented on #52
Do you remember the GPU you were using? And the large/base model?

[2020-06-18 21:38] Mistobaan commented on #52
Scibert on a P100 following the README steps and settings on a Colab pro

On Thu, Jun 18, 2020 at 14:10 Ronak <notifications@github.com> wrote:

--
LinkedIn: http://linkedin.com/in/fmilo
Twitter: @fabmilo
Github: http://github.com/Mistobaan/
-----------------------
Simplicity, consistency, and repetition - that's how you get through. (Jack
Welch)
Perfection must be reached by degrees; she requires

[2020-06-25 05:46] Mistobaan commented on #52
Was the Anserini index updated in the last week or so? There is a new document that is breaking the unsupervised ranked. It generates a matrix of 800 elements somewhat and makes Cuda crash.

[2020-07-01 06:14] santhoshkolloju opened #53 "Pertained T5 Reranker"
Hi ,

Do u have the pretrained T5 ranker uploaded to hugging face repo. or any other file sharing site

Thanks

[2020-07-01 09:40] rodrigonogueira4 commented on #53
Yes, the model and instructions on how to load it are available here:
https://huggingface.co/castorini/monot5-base-msmarco

[2020-07-01 09:42] santhoshkolloju commented on #53
Thanks for the reply. While training did u down sample the negetive passages?

[2020-07-01 09:46] rodrigonogueira4 commented on #53
Yes, each positive passage was paired with a negative passage during training. You can learn more about how we trained the model in section 3.2 of https://arxiv.org/pdf/2003.06713.pdf

[2020-07-01 09:50] santhoshkolloju commented on #53
Thanks that helps

[2020-07-01 09:50] #53 closed

[2020-07-01 09:51] santhoshkolloju commented on #53
Please do share the training scripts if they are open sourced

[2020-07-11 07:15] Fatima-200159617 opened #57 "Pygaggle for reranking msmacro passages without ground-truth labels"
Hi,
Could you please advice on how to rerank msmacro passages without evaluation with monbert, duobert, and T5 using pygaggle?
I followed the instructions on the link below, and it seems providing qrels is not optional.
https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-passage.md#re-ranking-with-monobert

[2020-07-11 12:31] rodrigonogueira4 commented on #57
The example in this pull request might help you: https://github.com/castorini/pygaggle/pull/58

[2020-07-11 15:06] Fatima-200159617 commented on #57
Great. Thanks a lot. This is exactly what I was looking for.

[2020-07-11 16:26] ronakice commented on #57
Closing with the merge of #58

[2020-07-11 16:26] #57 closed

[2020-07-15 03:02] HangCui0510 commented on #52
@Mistobaan Do you mind sharing your colab commands here so that I can try to replicate the problem?

[2020-07-18 11:19] lintool opened #60 "Conda -- Solving environment: failed"
At head commit `c1a54cb`:

Per instructions:

[code]

[2020-07-29 14:00] #60 closed

[2020-08-13 22:06] Narabzad opened #67 "seems like no reranking happens"
Hello,
When I try to run the given example. The documents will show up in the same order and no reranking happens. I tried with the two models and with different document samples. The order will not change at all.
So if I run the given example in the last section of the readme, should I get reranked passages? Why am I not seeing any differences in documents order?

[2020-08-13 23:56] lintool commented on #67
The score should change... did you rescore by the new scores?

[code]

[2020-08-14 03:43] Narabzad commented on #67
I get different scores but the order is the same even after reranking.
I tried the SequenceClassificationTransformerReranker one and  It works. However, it does not work for T5 ranker and the example do not change the orders as well. :

This is the code that works! I found it here: https://github.com/castorini/pygaggle/pull/58

#monoBert reranker
import torch
from transformers import BertTokenizer

[2020-08-14 13:07] lintool commented on #67
You need to re-sort the list based on the scores, as I've done in my code snippet above.

[2020-08-14 15:16] Narabzad commented on #67
I did resort the list based on the scores the same as in the example:

This is the code I am using :

[code]

and this is the results I got :

 1 2593796         0.00000
 2 6217200         0.00000
 3 3276925         0.00000
 4 6217208         0.00000
 5 4280557         0.00000
 6 264181          0.00000
 7 4280558         0.00000
 8 3276926         0.00000
 9 7744105         0.00000
10 5183032

[2020-08-14 17:36] lintool commented on #67
[code]

You have a bug in your code: you're still printing out the metadata in `texts`.

[2020-08-14 17:44] Narabzad commented on #67
Thank you so much! It is working now!
The bug is in the example in the [readme file here](https://github.com/castorini/pygaggle) as well. It should be fixed.

[2020-08-14 17:48] lintool commented on #67
Ah, I see. Can you please fix the bug and send a PR?

[2020-08-14 20:30] Narabzad commented on #67
Done!

[2020-08-15 22:26] #67 closed

[2020-08-15 22:27] ronakice commented on #52
@Mistobaan Did you sort this issue out?

[2020-08-15 22:27] #31 closed

[2020-08-15 22:28] ronakice commented on #20
@wongalvis14  @rodrigonogueira4 I assume we can close this issue?

[2020-08-15 22:29] ronakice commented on #20
Wait we have switched to the new dataset so this is no longer valid, closing!

[2020-08-15 22:29] #20 closed

[2020-08-16 05:16] Mistobaan commented on #52
Yes, I think I changed the logic and used the new transformers parsers.

[2020-08-16 05:16] #52 closed

[2020-09-06 06:17] justinborromeo opened #70 "[CovidQA Experiment] ModuleNotFoundError: No module named 'pyserini.analysis.pyanalysis'"
I'm trying to replicate the CovidQA experiment and am receiving the following error when running the following command:

[code]

I'm using Anserini 0.9.5, Pyserini 0.9.4, and PyTorch 1.4.0.  Is there something I'm missing?

Also, the same error occurs when reranking with MonoT5 from the MSMarco-Document experiment.

[2020-09-06 12:14] lintool commented on #70
We refactored the module structure in pyserini: https://github.com/castorini/pyserini/blob/master/docs/release-notes/release-notes-v0.9.3.1.md

`pyserini.analysis.pyanalysis`-> https://github.com/castorini/pyserini/tree/master/pyserini/analysis

Can you send PR to fix please?

[2020-09-08 14:34] ronakice commented on #70
Resolved by #71

[2020-09-08 14:34] #70 closed

[2020-09-08 15:19] lintool opened #72 "PyGaggle replication on Colab"
Add instructions for replicating MS MARCO on Colab (for users without local GPU resources):
https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-passage.md

... as well as the replication guides.

[2020-09-08 15:21] lintool opened #73 "Writing replication guide to train monoBERT from scratch"
We probably want to write this against Compute Canada resources - all Waterloo students can have access to it.

Once we get this set up, we can create the parallelism for lots of simple experiments - like all the various BERTology experiments we talked about...

[2020-09-08 16:31] ronakice commented on #73
Is this relevant to pygaggle though since I thought the plan was to only do inference here?

[2020-09-08 16:40] lintool commented on #73
That's a good question - do we eventually want to fold training into pygaggle also?

For doc2query, separate repo makes sense, but for ranking, I think eventually merging them all into a single repo is a worthy goal?

[2020-09-08 21:16] qguo96 commented on #72
replication on Colab is successful. A PR for replication log is created.
I would create a new PR for replication guides.

[2020-09-08 22:09] lintool commented on #72
ref #76

[2020-09-09 13:15] lintool opened #80 "Simplify monoT5 and monoBERT boilerplate"
There's a lot of boilerplate here: https://github.com/castorini/pygaggle#a-simple-reranking-example

Can we fold all of that into the constructor of the class? E.g., so we're left with:

[code]

or

[code]

Make `model_name`, `tokenizer_name`, etc.  configurable with sensical defaults.

So simple reranking gets boiled down to

[code]

@rodrigonogueira4 @rodrigonogueira4 thoughts?

[2020-09-09 13:21] ronakice commented on #80
Yeah, I think we should do that!

[2020-09-10 18:22] yuxuan-ji commented on #80
I'm a bit confused by the naming of this, is the goal to have a set of predefined rerankers w/ defaults
ex:
[code]

or just to create general constructors for each reranker similar to what's in:
https://github.com/castorini/pygaggle/blob/master/pygaggle/run/evaluate_document_ranker.py#L103
i.e.
[code]

TLDR why name `monoBERT` vs `construct_seq_class_transformer`

[2020-09-12 19:11] qguo96 commented on #72
Guide to replicate on Colab with ssh. https://github.com/castorini/onboarding/blob/master/docs/colab-instructions.md

[2020-09-13 00:55] #72 closed

[2020-09-13 09:15] #80 closed

[2020-09-13 11:09] lintool opened #86 "MonoBERT and MonoT5 defaults"
Follow up to #83, we have:

[code]

I think the `model_name` and `tokenizer_name` should have defaults? So we can boil down to:

[code]

Also, the regression scripts should be modified to use this new abstraction?

[2020-09-13 11:17] lintool opened #87 "Automate downloading of Pyserini indexes"
Currently we have in README:

[code]

If we automate index downloading, per https://github.com/castorini/pyserini/issues/225 - it would make replication even easier.

[2020-09-13 11:31] lintool opened #88 "Implement Birch/MaxP variant"
We should probably implement our own variant of Birch/BERT-MaxP in PyGaggle -

+ Birch: https://www.aclweb.org/anthology/D19-1352/
+ BERT-MaxP: https://dl.acm.org/doi/10.1145/3331184.3331303

Let's call it `MonoBirchP` :)

[2020-09-13 11:53] lintool opened #89 "PARADE replication in Capreolus"
URAs and others interested in PyGaggle should also take a look at [Capreolus](https://github.com/capreolus-ir/capreolus), which is another neural IR toolkit that our group contributes to: https://github.com/capreolus-ir/capreolus

See https://dl.acm.org/doi/10.1145/3336191.3371868

Capreolus is a much more full-featured toolkit and has a lot more models.

It was developed before PyGaggle. PyGaggle

[2020-09-13 16:32] yuxuan-ji commented on #86
@lintool it already defaults to `'castorini/monot5-base-msmarco'` and `'t5-base'`! I included it in the example because I thought it'd be helpful to show the user that  they can easily change model/tokenizer using pretrained stuff from huggingface.

as for regression scripts (if you mean the evaluation scripts), there shouldn't be any changes necessary because `monoBERT/T5` also accepts instances

[2020-09-13 16:55] lintool commented on #86
I see. Perhaps change to a comment?

Something like:

[code]

README docs should be as simple as possible IMO.

re: regression scripts, e.g., https://github.com/castorini/pygaggle/blob/master/pygaggle/run/evaluate_passage_ranker.py#L80

Wouldn't it make sense to use this new abstraction so we don't have multiple code paths (that might subtly diverge down the road...)? And same with MonoBERT?

[2020-09-13 21:58] yuxuan-ji commented on #86
agree with changing it to a comment! will make a PR for it

as for the regression scripts, I did think of changing those, but wasn't sure how because of `PassageRankingEvaluationOptions`, since values like `options.device`, `options.from_tf`, `options.batch_size` don't fit in nicely in the current abstraction.

I don't particularly want to add more parameters to `MonoBERT/MonoT5`'s `__init__` meth

[2020-09-18 14:56] kochkinaelena opened #94 "Score ranges"
Hi,

This is a question rather than an issue. I was wondering what is the expected range of Pygaggle score?

From the paper ([Document Ranking with a Pretrained Sequence-to-Sequence Model](https://arxiv.org/pdf/2003.06713.pdf)) it comes across as if it should be the probability of a relevant label obtained from softmax layer, so [0,1]. However, when I am using it on my dataset (not from the paper)

[2020-09-18 18:10] qguo96 commented on #87
claim this issue and I will make a PR for it.

[2020-09-22 20:37] lintool commented on #94
@ronakice @rodrigonogueira4 nudge?

[2020-09-22 20:55] ronakice commented on #94
Hey @kochkinaelena!

1) The scores we return are log probabilities which is why you'd see that they are less than 0. You can find the specific line here:
https://github.com/castorini/pygaggle/blob/73539eab8a989675472ec3e0d44b5bf3a2e29216/pygaggle/rerank/transformer.py#L57
We chose to go with it because it is what we went with in our initial T5 implementation.
2) Converting to probabilities will pr

[2020-09-25 11:44] lintool opened #97 "Complete monoBERT and monoT5 replication on ComputeCanada"
If URAs use ComputeCanada resources, how long would it take to replicate full results on MS MARCO passage?

I think it'd be nice to have a full leaderboard replication. Esp. with monoT5, since it's still reasonably competitive wrt SOTA.

[2020-09-29 21:01] kochkinaelena commented on #94
Hi @ronakice,

Thank you for your response, this clarifies things!

Best regards,
Elena

[2020-09-29 21:01] #94 closed

[2020-10-04 21:16] qguo96 commented on #97
I just replicate passage experiment on ComputeCanada.
I used a V100 (32 GB).
For monoBERT: it took 51:35 mins to re-rank, excluding time to preprocess queries and passages.
For monoT5: it took 23:26 mins to re-rank, excluding time to preprocess queries and passages.

[2020-10-05 10:54] lintool commented on #97
Awesome! Is this on the entire dev set or still just the sample?

[2020-10-05 14:15] qguo96 commented on #97
It's just the sample ...
Sorry, I didn't notice that you want to run on the dev set.
I would replicate one more time on the dev set.

[2020-10-05 14:17] lintool commented on #97
Yup, let's do the entire thing!

[2020-10-09 15:29] qguo96 commented on #97
For the entire dev set:
For monoBERT: it took 56 hours 54 mins to re-rank, excluding time to preprocess queries and passages.
![Screenshot (1242)](https://user-images.githubusercontent.com/30187452/95602159-80bd7d80-0a22-11eb-89d7-195f979b2396.png)

For monoT5: it took 26 hours 16 mins to re-rank, excluding time to preprocess queries and passages.
![Screenshot (1245)](https://user-images.githubuse

[2020-10-09 15:40] rodrigonogueira4 commented on #97
Interesting, monoBERT gave better results than the original paper: 0.379 vs 0.372. Also, monoT5 is slightly below what we get with the TF implementation: 0.3798 vs 0.3810.

Could you please confirm the number of queries?
Also, just to confirm, we are using BERT-Large and T5-base, right?

[2020-10-09 15:59] qguo96 commented on #97
I used `queries.dev.small.tsv` in this repo(https://github.com/castorini/duobert), so 6,980 queries from the MS MARCO dev set.
Yes, we are using BERT-Large and T5-base.

[2020-10-09 16:05] rodrigonogueira4 commented on #97
Ok, thanks!

[2020-10-09 16:07] qguo96 commented on #97
Is this query file the entire dev set?
I asked ronak and xueguang, but I want to confirm it again here.

[2020-10-09 16:11] rodrigonogueira4 commented on #97
Yes, it is the entire dev set.

[2020-10-09 22:55] lintool commented on #97
What do we make of these (minor) differences?

[2020-10-10 14:12] rodrigonogueira4 commented on #97
I would suggest evaluating with a BERT-base model because then we can check if this improvement is due to differences in the TF vs HF implementation or we were just lucky.

Same for monoT5-large, so we can check if HF implementation yields consistently lower results or that was just noise.

[2020-10-11 21:22] qguo96 commented on #97
I re-run the experiment with monoT5-large and I get the same result as above ...

[2020-10-11 21:28] rodrigonogueira4 commented on #97
Could you please double-check? MRR@10 should be higher and it should be at least 3x slower.

[2020-10-11 21:42] qguo96 commented on #97
Sorry, I didn't notice that I used monoT5-base ...

[2020-10-23 19:51] #86 closed

[2020-10-25 22:01] valayDave opened #104 "Training New Reranker And Benchmarking"
Hello,

Great work with a suite of libraries around pygaggle !. Really loved your work. It took me so little time to start work and experimenting on the doc-ranking task.

I have created a new model to see experiments with the Reranker. I wanted to use MS Marco Dataset and see MRR.

I see that [this file]( https://github.com/castorini/pygaggle/blob/master/pygaggle/run/evaluate_document_ranker.py )

[2020-10-30 13:51] ronakice commented on #104
Hey!

Thanks for the kind words.

https://github.com/castorini/pygaggle/blob/19b16d28b20bbcead359fc9b4086f33e5c7598f9/pygaggle/rerank/transformer.py#L117

You should look at creating a class like this for an external model if it isn't already included.
And if your model works well you can possibly make a PR and add functionality for it in pygaggle too :)

Then, create a new construction method:

h

[2020-10-30 13:52] ronakice commented on #97
@qguo96 , do you have an update to this?

[2020-10-30 13:57] ronakice commented on #88
Sorry, I missed this, we're already doing MaxP and sum-based aggregation in Document Ranking. Birch is just a generalized weight-based sum aggregator that linearly interpolates with the BM25 scores right?

[2020-10-30 14:13] qguo96 commented on #97
I tried once with T5-large. It took `83:39:16`, 3x slower than T5-base.
[code]

[2020-10-30 15:18] qguo96 commented on #87
Maybe close this issue? I forgot to close this after the PR is merged.

[2020-10-30 21:24] MarcosFP97 opened #106 "GPU by default?"
Hi! First of all congrats for yout outstanding work!
I am using your pretrained models to rerank a custom collection, as exposed in your section **A Simple Reranking Example**. However, I would like to know if your T5 model fine tuned with MS MARCO uses any GPU available device by default to perform its predictions and reranking. If not I would appreciate any indication on how to achieve this.
Bes

[2020-10-31 10:35] rodrigonogueira4 commented on #106
Hi @MarcosFP97, it should use the GPU by default if one is available: https://github.com/castorini/pygaggle/blob/19b16d28b20bbcead359fc9b4086f33e5c7598f9/pygaggle/rerank/transformer.py#L38

[2020-10-31 13:54] MarcosFP97 commented on #106
Thank you very much @rodrigonogueira4! That's great

[2020-11-01 13:31] lintool commented on #97
Effectiveness seems lower than expected?

[2020-11-01 17:38] ronakice commented on #97
Yes, we need to properly compare inconsistencies between mesh-t5 and hgf-t5 before we push the next pygaggle and sort out what we can.

[2020-11-01 17:46] #87 closed

[2020-11-01 18:04] lintool commented on #88
Correct. This is probably lower priority because we also have https://capreolus.ai/

[2020-11-01 18:05] lintool commented on #104
Closing... please reopen if there are any additional questions!

[2020-11-01 18:05] #104 closed

[2020-11-01 20:06] MXueguang opened #107 "update transformers dependency to latest transformers==4.0.0"
current dependency transformers==2.10.0 is a bit outdated.

updating to transformers==3.4.0

conflicts are fixed already.
will create PR when monoT5 & monoBert's results are replicated on my end.

following warnings may need to be considered to update as well

- Truncation was not explicitely activated but `max_length` is provided a specific value, please use `truncation=True` to explicitely trunc

[2020-11-01 23:28] rodrigonogueira4 commented on #107
Great! Looking forward to the PR!

[2020-11-06 10:58] MarcosFP97 commented on #106
Hi, I am sorry for bothering you again. When I launch my code the following warning appears:
```2020-11-06 10:50:42.400297: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64```

But th

[2020-11-06 11:03] MarcosFP97 opened #110 "Attribute Error"
Hi, I am using ```MonoT5``` model to rerank my own collection. However I am getting the following error:

[code]

My code is the following, and I have checked that ```query_total``` and ```texts``` variables are non-empty:

[code]

[2020-11-06 14:26] MarcosFP97 commented on #106
Update:
I think this issue is related to my other one posted this morning #110. My intuition tells me that is a version-related problem between CUDA and Tensorflow. I am running this code in a Docker container with nvidia/cuda:10.1-base as base image and Tensorflow version 2.3.0.

I would appreciate any help, since I am relatively new to this Tensorflow, Cuda, and Deep Learning models world.
Best,

[2020-11-08 16:55] MXueguang commented on #110
which transformers version are you using?
pygaggle is currently using transformers==2.10.0
newer version of transformers may cause the error below.
[code]

we are working on update transformers dependency to 3.4.0 (https://github.com/castorini/pygaggle/issues/107) but before that could you double check if transformers==2.10.0?

[2020-11-08 17:19] MXueguang commented on #106
@MarcosFP97
I am not very sure, but you can use `watch nvidia-smi ` to see if the process is actually running on GPU.
I suspect it is an environment issue related to cuda&tensorflow version.
If you eventually find the process is not running on GPU, maybe you can share us the related commands in `Dockerfile` to help us further replicate&investigate the issue?

[2020-11-09 10:39] MarcosFP97 commented on #106
Hi @MXueguang, thank you very much for your response. As you suggested, the problem was related to cuda&tensorflow version. I managed to solve it by using Tensorflow official Docker image, which downloads `tensorflow==2.3.1` by default. This version was compatible with the CUDA 11 installed on my system.

[2020-11-09 10:41] MarcosFP97 commented on #110
Hi @MXueguang, that was the problem! I downgraded `transformers` to 2.10.0 and the error disappeared. I will wait to the new release to upgrade transformers version again. Thank you very much!

[2020-11-09 14:24] #106 closed

[2020-11-09 14:24] #110 closed

[2020-11-10 07:36] estella98 opened #112 "Error when running monoBert experiment"
after running the command `srun --mem=64G --cpus-per-task=2 --time=24:0:0 --gres=gpu:v100l:2 --pty bash` to get GPU access and enter interactive mode, the following error occurs when trying to install pyggagle using the command `pip3 install -r requirements.txt` ( I have tried both pip and pip3, both failed. )

I tried to install it individually using the command `pip3 install --user pyjnius` whic

[2020-11-10 15:32] qguo96 commented on #112
hi, @estella98. Thank you for your information.
This is what you should get when you try to install pyjnius by `pip install -r requirement.txt`
![Screenshot (1291)](https://user-images.githubusercontent.com/30187452/98694724-cf22ac80-233f-11eb-9472-731f879e5bb0.png)

Did you follow the cc-guide(https://github.com/castorini/onboarding/blob/master/docs/cc-guide.md) and upgrade setuptools before ever

[2020-11-13 14:54] Ji-Xin commented on #112
This looks like you are trying to install a package NOT in your environment. Did you activate the virtualenv/conda environment before the installation? You can check by running `which python` to see whether your personal environment is activated.

[2020-11-13 14:55] estella98 commented on #112
[code]
Ignoring pip: markers 'python_version < "3"' don't match your environment
`pip install --no-index --upgrade pip`
Ignoring pip: markers 'python_version < "3"' don't match your environment
Yes I did, however I do not think the pip upgrading is doing anything. I also tried to not use python3 but that will throw errors later.

[2020-11-13 15:03] qguo96 commented on #112
You can ignore that warning, and that warning shouldn't stop you from installing the package.
Did you upgrade `setuptools` before installing pygaggle?

[2020-11-13 15:04] estella98 commented on #112
yes I did, I have done all the commands and still see the errors above.

[2020-11-16 22:51] rayyang29 commented on #112
Here are the commands I ran for a successful replication:

After entering interactive mode in CC, I ran
`module load python/3.6`
`virtualenv --no-download ~/ENV`
`source ~/ENV/bin/activate`
`pip install --no-index --upgrade pip`
`pip install --no-index --upgrade setuptools`

Then I followed the MS Marco Entire Dev Set instructions:
`git clone --recursive https://github.com/castorini/pygaggle.git`

[2020-11-20 09:21] ronakice commented on #107
@MXueguang bump it up to 4 maybe? Transformers v4.0.0-rc-1 is out and has breaking changes (possibly breaking T5 results, but in a good way?)

[2020-11-20 09:21] ronakice commented on #15
@wiltan-uw is on this!

[2020-11-20 09:24] rodrigonogueira4 commented on #107
Hey @ronakice, but it is still a release candidate, right? I mean, it might be unstable for a while...

[2020-11-21 16:50] ronakice commented on #107
I don't think we should really worry about that much, I don't think that will cause too many issues with transformers since it is always kinda a work in progress. Will be easier moving from release candidate to final version anyway (I assume by the time we are done with it we'll be having v4)!

[2020-11-21 16:54] rodrigonogueira4 commented on #107
Ok, SGTM!

[2020-11-22 16:00] lintool commented on #97
@ronakice Can we close this issue now?

[2020-11-22 16:01] lintool commented on #15
I'm wondering what the relationships between this issue and this repo is: https://github.com/castorini/duobert

Are we planning on deprecating the `duobert` repo, i.e., but into archive real-only mode?

[2020-11-22 16:11] rodrigonogueira4 commented on #15
Yeah, I think archiving duobert repo is a good idea. It is in tensorflow, and it requires some manual steps to do reranking

[2020-11-24 21:41] mfayoub opened #119 "Can't run the code in the readme"
Hi everyone,

I'm kind of new to BERT and T5, but I would like to test them using pygaggle. I installed pygaggle inside a conda environment. But when I try to execute the following code

from pygaggle.rerank.base import Query, Text
from pygaggle.rerank.transformer import MonoBERT

reranker =  MonoBERT()

I got the following core dump.

2020-11-24 15:47:13 [INFO] file_utils: PyTorch version 1.7.0 a

[2020-11-25 19:41] mfayoub commented on #119
It is solved right now. Thanks everyone! I just think the version in pip is not the final version and I had to install pygaggle using setup.py

[2020-11-25 22:04] #119 closed

[2020-11-25 22:04] lintool commented on #112
Follow up here, did we sort out these issues?

[2020-11-25 22:48] estella98 commented on #112
Hi Jimmy, sorry for the delay. those days I was working on finishing up my work in internship and doing covid testing as I am leaving Canada these days. I will have more time working on this once I land in China and I will prioritize this work in my quarantine.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jimmy Lin <notifications@github.com>
Sent: Wednesday, N

[2020-11-30 19:24] estella98 commented on #112
resolved

[2020-11-30 19:32] estella98 commented on #112
I successfully installed the packages and finished the dataprep step. But I got one error again when trying to run the monoBert experiment..
![image](https://user-images.githubusercontent.com/36647501/100655154-e2121680-3318-11eb-8f73-843fdcb7203f.png)

[2020-12-02 13:12] MarcosFP97 opened #121 "Error on model name"
Hi,
I am using `MonoT5` reranker to rerank my own collection. I am trying to use non-default models, like this:

[code]
However I am getting the following error:

[code]

I think that this is a version related issue with some package, but I am not sure which one is causing the problem (I am using `transformers==2.10.0` and I have also tried recently updated `transformers==4.0.0`).

I would appreci

[2020-12-03 19:10] Narabzad opened #125 "incompatibility of Pyserini version"
Hello,

As it is said in Pygaggle library, the requirement for Pygaggle is pyserini 0.9.4.0. However there is a line in pygaggle that is incompatible with pyserini 0.9.4.0 i.e.,.

pygaggle/pygaggle/rerank/base.py :

`from pyserini.pyclass import JSimpleSearcherResult`

It should be

`from pyserini.search import JSimpleSearcherResult`

to be compatible with pyserini latest version. Is this correct

[2020-12-04 15:11] lintool commented on #125
Yes, please send PR to fix? Thanks!

[2020-12-05 07:44] ronakice commented on #121
[code]
should work! We'll clean this up a little soon.

[2020-12-09 06:44] zhuzz1997CN opened #126 "pygaggle can't be installed in Colab?"
When i pip install pygaggle in colab,it could not find a version that satisfies the requirement pygaggle.The python version of colab is 3.6+,however,pygaggle need python version 3.7+. Are there any good ways to install pygaggle in colab?

[2020-12-09 07:49] ronakice commented on #126
Can you try cloning it and installing it from source instead?

[2020-12-09 09:08] zhuzz1997CN commented on #126
I tried this ，cloning it and use python _**setup.py install_** to install it ,however,when i import pygaggle,it can't import other packages.
`/usr/local/lib/python3.6/dist-packages/pygaggle/pygaggle/logger.py in <module>()
----> 1 import coloredlogs
      2 import logging
      3
      4
      5 __all__ = []

ModuleNotFoundError: No module named 'coloredlogs'`

[2020-12-09 09:09] zhuzz1997CN commented on #126
I tried this ，cloning it and use **python setup.py install** to install it ,however,when i import pygaggle,it can't import other packages.
`/usr/local/lib/python3.6/dist-packages/pygaggle/pygaggle/logger.py in ()
----> 1 import coloredlogs
2 import logging
3
4
5 all = []

ModuleNotFoundError: No module named 'coloredlogs'`

[2020-12-09 20:22] ronakice commented on #126
https://colab.research.google.com/drive/1Sg09O8VX-SYB-Iaouyvanc6kz2JZ0Xij?usp=sharing

This is how we generally do it. Seems like installing from setup.py isn't vibing well with colab.

[2020-12-10 02:33] zhuzz1997CN commented on #126
Thank you for your reply！

[2020-12-10 02:33] #126 closed

[2020-12-14 06:50] surajnair04 opened #129 "Reranking example from the README works no longer"
Hi everyone,

The simple reranking example from the README fails to run anymore.
On running the code, this is the error I receive
[code]
Inspecting the 1st Text object, I see the following output
[code]

It turns out that following the commit 6638f6eb6582aac201e9dcc5ad2d41505bd6bab9, the class Text from the [base.py](https://github.com/castorini/pygaggle/blob/master/pygaggle/rerank/base.py) takes

[2020-12-17 22:59] #129 closed

[2020-12-25 09:42] zhuzz1997CN opened #132 "Warnings when I load models"
Hello,when i load t5 models,there is such a warning, but it has no impact on the next operation. could you tell me the reason for this?
`model = MonoT5.get_model('castorini/monot5-3b-med-msmarco')
tokenizer = MonoT5.get_tokenizer('t5-3b')
reranker =  MonoT5(model, tokenizer)`

- This IS expected if you are initializing T5ForConditionalGeneration from the checkpoint of a model trained on another ta

[2021-01-01 17:52] Dahlia-Chehata opened #135 "CovidQA Replication Issues"
I tried replicating CovidQA experiments on Colab (Tesla K80), Compute Canada (Tesla V100) and locally (GTX1650) on #134 with the index from https://www.dropbox.com/s/z8s0urul6l4zig2/lucene-index-cord19-paragraph-2020-05-12.tar.gz?dl=1

**Re-Ranking with Random** (I got the same results)

`
python -um pygaggle.run.evaluate_kaggle_highlighter --method random

[2021-01-04 03:05] ronakice commented on #135
Hey @Dahlia-Chehata , can you send me an editable Colab you were trying to replicate this on, so I can try to fix it?

[2021-01-04 09:58] Dahlia-Chehata commented on #135
@ronakice  here is the [link]( https://colab.research.google.com/drive/1-gkEt8w6AMILqyeKOPIEy9p5GaaV-ww2?usp=sharing)

[2021-01-05 11:21] ronakice commented on #135
Should be fixed in new PR, checkout [this](https://colab.research.google.com/drive/1-gkEt8w6AMILqyeKOPIEy9p5GaaV-ww2?usp=sharing). Thanks for pointing this out :)

[2021-01-05 11:46] ronakice commented on #135
Okay, this is merged, close if everything is fine!

[2021-01-05 12:06] #135 closed

[2021-01-07 16:30] MXueguang commented on #107
close, see https://github.com/castorini/pygaggle/pull/118

[2021-01-07 16:30] #107 closed

[2021-01-19 07:36] MXueguang opened #149 "add DPR reader"
For now, Pygaggle is for reranking only right?

As we are adding DPR reader, I am thinking about adding a new module for Reader.
So make pygaggle as a mix of reranker and reader.

@KaiSun314
Basically, what pygaggle doing rn is use a `Reranker` to rerank a list of `Text` for a `Query`. https://github.com/castorini/pygaggle/blob/master/pygaggle/rerank/base.py

To implement the Reader module, we wan

[2021-01-19 09:41] ronakice commented on #149
Yes, and after this add some standard QA metrics like EM/F1 post. We should start with the `TextAnswer` class representing the start/end indices plus the string but ideally, it should also be capable of handling Yes/No type answers (`BooleanAnswer`) and NULL type answers (`NullAnswer`). So this Answer class  will be of type `Union[TextAnswer, BooleanAnswer, NullAnswer]`

[2021-01-19 13:30] lintool commented on #149
All sounds good to me at a high level. Let's look at draft PRs to discuss further.

[2021-01-19 20:19] KaiSun314 commented on #149
On it - reading DPR paper and familiarizing myself with the PyGaggle code, and then will implement a Reader module. ETA: probably a few days.

[2021-01-29 20:34] cronopioelectronico opened #153 "update-index.sh not working"
The file [update-index.sh](https://github.com/castorini/pygaggle/blob/master/scripts/update-index.sh) contains a reference to a dropbox url that doesn't exist:
`INDEX_URL=${2:-https://www.dropbox.com/s/s3bylw97cf0t2wq/lucene-index-cord19-paragraph-2020-05-12.tar.gz}`

That script is referenced in the installations instructions in the [README](https://github.com/castorini/pygaggle/blob/master/READM

[2021-01-30 21:30] ronakice commented on #48
Closed by #152

[2021-01-30 21:30] #48 closed

[2021-02-06 10:47] #153 closed

[2021-02-06 10:49] ronakice commented on #153
Hey @cronopioelectronico , thanks for pointing this out, we fixed it in the recent PR. CORD-19 was not our test index, just happened to be that pygaggle initially started out catering only to CovidQA, so I removed that part from the readme, we will add a smaller index soon to quickly demonstrate our framework!

[2021-02-06 15:27] cronopioelectronico commented on #153
Great! Thanks for the info @ronakice

[2021-02-06 17:59] MXueguang commented on #149
closed by https://github.com/castorini/pygaggle/pull/150

[2021-02-06 17:59] #149 closed

[2021-02-08 16:29] ronakice commented on #132
This is an implementation detail of T5 so I'd point you to [this](https://github.com/huggingface/transformers/issues/9157) and as discussed shouldn't *really* be a problem!

[2021-02-08 16:29] #132 closed

[2021-02-08 16:32] ronakice commented on #121
Closing for now. Feel free to open if you still have issues.

[2021-02-08 16:32] #121 closed

[2021-02-11 14:17] ronakice commented on #125
Resolved by #161

[2021-02-11 14:17] #125 closed

[2021-02-19 01:39] shamanez opened #164 "Annotated Q-A pairs ?"
Where can I find the annotated Q-A pairs. The given  JSON files consist of multiple answers for a single question. What should I use?

[2021-02-19 14:55] lintool commented on #164
I think what you're looking for is described in https://arxiv.org/abs/2004.11339 ?

[2021-02-21 18:26] arinaruck opened #165 "Fine-tunning"
Hi, I was wondering whether the library supports only a zero-shot approach for the new data or fine-tuning on my dataset could be performed as well?

[2021-02-27 01:37] ronakice commented on #165
I'd suggest looking at training [here](https://github.com/castorini/pygaggle/blob/master/docs/experiments-monot5-tpu.md) and modifying the input file to whatever dataset you want to train on.

In case you don't have access to TPUs, mesh supports GPUs too although we currently don't have instructions for that, we will in a bit, it should be modifiable taking a look at the actual repository.

[2021-03-06 02:27] ronakice commented on #165
Closing issue, reopen if required!

[2021-03-06 02:27] #165 closed

[2021-03-06 02:28] ronakice commented on #164
Closing for now, reopen if required.

[2021-03-06 02:28] #164 closed

[2021-03-06 02:28] #97 closed

[2021-03-06 02:29] ronakice commented on #89
This should go into URA repo or something? Closing.

[2021-03-06 02:29] #89 closed

[2021-03-06 02:32] ronakice commented on #112
Closing this for now, reopen if others encounter the same.

[2021-03-06 02:32] #112 closed

[2021-03-06 02:33] ronakice commented on #4
Doubt we are doing this since PyGaggle is turning out to be a general ranking/qa framework, closing for now.

[2021-03-06 02:33] #4 closed

[2021-03-30 19:07] ronakice opened #172 "Create GitLab for PyGaggle's intermediate and output files"
Bunch of experiments but we're not really storing any of these files, we should so others can use these scores and intermediate files for each of our experiments easily without having to re-run on TPUs, etc.

[2021-04-05 13:51] rodrigonogueira4 opened #173 "Fix rerank function"
All of our implementation of `Reranker.rerank()` do not actually rerank, only rescore a list of text objects. Hence, we can either:

1) Rename it to `rescore`
2) Perform the actual reranking inside each rerank implementation.

I'm in favor of 2), but let me know what you think.

[2021-04-05 15:33] lintool commented on #173
My vote is for (2) also.

[2021-04-07 15:04] ronakice commented on #173
Yup (2) sounds like the better option!

[2021-04-07 15:31] rodrigonogueira4 commented on #173
Ok, I will send a PR soon.

[2021-04-19 08:04] yixuan-qiao opened #179 "duot5-3b release"
Hi,
Thanks for your excellent work. Carefully look through all models in the Hugging Face castorini repository, maybe **duot5-3b** is missing? Or are there plans to release :-)

[2021-04-20 03:55] ronakice commented on #173
Resolved!

[2021-04-20 03:55] #173 closed

[2021-04-25 01:08] yixuan-qiao opened #181 "TREC passage ranking result reproduce"
For TREC passage full-rank task, i use the prebuilt index **_msmarco-passage-expanded_**,  set_bm25 with k1=float(0.82), b=float(0.68), no rm3, the Top1000 file reranked by monoT5-3B finally got R@1000=0.7853, NDCG@10=0.7101. The R@1000 is far below than the paper(0.8452), even lower than traditional bm25 baseline 0.7863.

I also try to rebuilt the index file follow the instructions from _https://

[2021-04-25 03:51] yixuan-qiao commented on #181
I just found i use the wrong qrel file. After change all "1" judgments (Related) to 0 (not relevant), i can reproduce the R@1000 metric.

[2021-04-25 14:20] lintool commented on #181
Glad you got this sorted out!

[2021-04-28 19:23] svbktarun opened #183 "Replication doubts on MS-MARCO passage reranking subset"
<img width="1593" alt="Screenshot 2021-04-29 at 12 45 53 AM" src="https://user-images.githubusercontent.com/11445134/116460321-93938480-a884-11eb-92d0-3e6e13d74ffd.png">

I am not able to see the actual results upon replication of https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-passage-subset.md in colab, instead they are the metrics before training the model. I am attac

[2021-05-07 18:52] svbktarun commented on #183
The issue is resolved post this PR https://github.com/castorini/pygaggle/pull/186.

[2021-05-07 18:52] #183 closed

[2021-05-15 12:34] yixuan-qiao commented on #181
After change all "1" judgments (Related) to 0 (not relevant), i got the R@1000 0.84432423 compared to your **0.8452**. At first I thought i reproduced your results, but after re-rank by monoT5-3b model, i got NDCG@10 0.7101 compared to your 0.7837. Although without duoT5-3b, maybe 0.76 or 0.77 is a desired result? i set bm25 with k1=float(0.82), b=float(0.68) as paper told, i am not sure is there

[2021-05-15 12:36] lintool commented on #181
See this detail about using the qrels: https://github.com/castorini/anserini/blob/master/docs/regressions-dl19-passage.md#effectiveness

The relevances grades are different nDCG and MAP.

[2021-05-15 12:54] yixuan-qiao commented on #181
For the qrels, i use the official TREC files from https://trec.nist.gov/data/deep2020.html, same as yours.

[2021-05-15 12:56] lintool commented on #181
For `trec_eval`, for passage, you need to use `-l 2` for MAP, but _not_ for nDCG, per documentation above.

[2021-05-15 13:04] yixuan-qiao commented on #181
As you said, i use qrels with three different level grades after transform by use -l 2 to test all metrics excel nDCG, use official qrels with 4 level grades to test nDCG, but got the same results as above.

[2021-05-15 13:08] lintool commented on #181
It is usually an eval issue if one metric matches but others are different...

I'll let the rest of the team chime in, but head's up - everyone is likely busy with EMNLP deadlines.

[2021-05-15 13:15] yixuan-qiao commented on #181
I'm sorry maybe I didn't express correctly, no metrics are matching now,

for R@1000, i got 0.8443 vs yours 0.8452
for NDCG@10, i got 0.7101 vs yours 0.7837

Good luck with EMNLP, thanks a lot!!!

[2021-05-15 13:17] lintool commented on #181
This is within the margin of noise for neural techniques... I would consider these the same for the purposes of reproduction.

[2021-05-15 13:28] yixuan-qiao commented on #181
But bm25 is not a neural techniques, i do think it is a deterministic algorithm. In my opinion, even the samllest difference in R@1000 could produce the different relevent passage lists.
For comparison, in document ranking task, i use default config bm25, reproduce your results with same R@1000 0.8403, the last four digits are exactly the same, for NDCG@10, we got 0.688 without doing duoT5 compard

[2021-05-15 13:40] lintool commented on #181
I'm confused. For TREC 20 DL track, passage, we have:
+ BM25 baseline: https://github.com/castorini/anserini/blob/master/docs/regressions-dl20-passage.md
+ w/ doc2quert-T5: https://github.com/castorini/anserini/blob/master/docs/regressions-dl20-passage-docTTTTTquery.md

What exactly isn't matching then?

[2021-05-15 13:56] lintool opened #189 "Release ColBERT reranker"
Apparently, @jacklin64 and @justram tell me that we have our own ColBERT, which is a re-implementation... we should sort through reproduction and what goes where...

I think our ColBERT reranker should go here in pygaggle - TCT-ColBERT can be in a different repo.

[2021-05-15 13:59] yixuan-qiao commented on #181
I just compare to your latest paper. The Expando-Mono-Duo Design Pattern for Text Ranking with Pretrained Sequence-to-Sequence Models(https://arxiv.org/abs/2101.05667)
![image](https://user-images.githubusercontent.com/25563825/118363607-c5685300-b5c7-11eb-9db6-2c5ce91743b3.png)

i just reproduce the same R@1000 0.8443 as your second doc https://github.com/castorini/anserini/blob/master/docs/regre

[2021-05-15 14:00] yixuan-qiao commented on #181
maybe 0.76 or 0.77 is a desired result?

[2021-05-15 14:08] lintool commented on #181
From https://github.com/castorini/anserini/blob/master/docs/regressions-dl20-passage-docTTTTTquery.md

<img width="612" alt="Screen Shot 2021-05-15 at 10 03 04 AM" src="https://user-images.githubusercontent.com/313837/118364021-ca47eb00-b564-11eb-9d0a-b4696ee260dd.png">

It appears that BM25 w/ default parameters gives 0.8452 for R@1k, so that's probably what we used. In general, tuning on MS MARC

[2021-05-15 14:25] yixuan-qiao commented on #181
For document ranking task, we got NDCG@10 0.688 without doing duoT5-3b compard to your 0.6934, so i guess maybe improvemnt of duoT5-3b is about 1 points. But as you said, maybe for passage ranking task, improvement is more significant (~7 points)?! if so, it is so amazing! If possible, would you mind open source the duoT5-3b model so we can try it.

[2021-05-15 14:35] lintool commented on #181
So yes, I would consider this a successful monoT5 reproduction... you're within half a point.

The gains of duo over mono on passage is much larger because (1) our doc runs were zero shot, and (2) doc length issues.

Exact duo gains, we're working on an updated version of paper right now w/ ablations.

So the tl;dr seems to be duoT5. I'll work with the team on getting it posted on hgf.

[2021-05-15 15:02] yixuan-qiao commented on #181
I am looking forward to it. Thanks a lot for patient response. Wish everything goes well for the EMNLP :-)

[2021-05-20 14:23] XY2323819551 opened #192 "Download MS MARCO dev subset"
Hi, everyone, I met some issues when I was trying to download msmarco_ans_small.zip, errors as follows:

--2021-05-20 21:46:58--  https://www.dropbox.com/s/5xa5vjbjle0c8jv/msmarco_ans_small.zip
Resolving www.dropbox.com (www.dropbox.com)... 31.13.85.34, 2001::6ca0:a694
Connecting to www.dropbox.com (www.dropbox.com)|31.13.85.34|:443... failed: Connection timed out.
Connecting to www.dropbox.com (w

[2021-05-20 22:09] ronakice commented on #192
Hey @XY2323819551, the dropbox link works fine for me, are you not even able to open that on a browser?

[2021-05-20 22:56] MXueguang commented on #192
@XY2323819551 if you are in ShangHai, you might need a VPN to access dropbox

[2021-05-20 23:03] XY2323819551 commented on #192
Thanks for you reply，I used VPN yesterday but failed，I put the link in the browse directly and got the file，what is confusing me is that the fold is very small？？

---Original---
From: "Xueguang Ma ***@***.***&gt;
Date: Fri, May 21, 2021 06:57 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [castorini/pygaggle] Download MS MARCO dev subset (#192)

@XY2323819551 if you are in Sh

[2021-05-20 23:05] XY2323819551 commented on #192
Thanks for very much！I have got it already，but the size of fold is very small，is it right？

---Original---
From: ***@***.***&gt;
Date: Fri, May 21, 2021 06:10 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [castorini/pygaggle] Download MS MARCO dev subset (#192)

Hey @XY2323819551, the dropbox link works fine for me, are you not even able to open that on a browser?

—
You are

[2021-05-20 23:34] MXueguang commented on #192
Yes, ~2MB, cuz it only contains topics and judgement, so not big.

[2021-05-21 00:05] XY2323819551 commented on #192
Thank you again! You are so kind!

[2021-05-21 00:05] #192 closed

[2021-05-21 07:12] #181 closed

[2021-05-22 02:23] XY2323819551 opened #193 "jnius.JavaException: JVM exception occurred"
Hi, everyone! I tried to solve the issue many times but failed，who can help me? I built the enviroment using pip，I have tried several versions of anserini.

(/data/zhangxy/condenv/gaggle) zhangxy@gpu:/data/zhangxy/pygaggle$ python
Python 3.6.13 |Anaconda, Inc.| (default, Feb 23 2021, 21:15:04)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (m

[2021-05-22 02:25] MXueguang commented on #193
Hi @XY2323819551, what is your java version?
we support jdk11 only

[2021-05-22 15:01] XY2323819551 commented on #193
It is jdk8，thanks for your reminder，I reinstalled JDK11 ，Now it's OK.

[2021-05-22 15:01] #193 closed

[2021-05-26 14:55] XY2323819551 opened #194 "how to botain the original dev Subset in a tsv file?"
Hi, I am doing the "Experiments on MS MARCO Passage Retrieval - Dev Subset - with GPU"，I want to get  the original dev Subset in a tsv file(containing 105 queries)，just like 《 Passage Re-ranking with BERT》provide us with "top1000.dev.tsv" and others requirements.   In 《 Passage Re-ranking with BERT》，I can use convert scripts convert tsv file to tfrecord format，but it is too big, I just want to con

[2021-05-27 01:47] jeffzhengye commented on #73
@lintool So where can we find the train tutorials if this part will not be included in pygaggle?

[2021-05-27 01:50] lintool commented on #73
@crystina-z we have a generic train monoBERT guide for Caprelous that isn't CC specific, right? cc @andrewyates

[2021-05-27 02:37] crystina-z commented on #73
yup @jeffzhengye @lintool it's [here](https://github.com/capreolus-ir/capreolus/blob/feature/msmarco_psg/docs/reproduction/MS_MARCO.md), for non-CC users, just normally installing capreolus should work

[2021-05-27 06:46] ronakice commented on #194
The [data prep](https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-passage-subset.md#data-prep) section has details on how to get this subset, you are downloading it. It should be in the `msmarco_ans_small` folder after extracting. I'll attempt to add some clarity, the dev subset we use is nothing official, it was just a randomly curated subset of MS MARCO Passage that most

[2021-05-27 07:21] XY2323819551 commented on #194
OK, thanks for your reply!

[2021-05-27 07:21] #194 closed

[2021-05-27 08:04] jeffzhengye commented on #73
I was hoping to have everything in one or two repos. It seems things get too much complicated.
I would suggest to have end-to-end tutorials for experiments (from data prepocessing--> training --> evaluation).

But still Castorini did a great job.

[2021-05-27 10:45] #73 closed

[2021-05-28 11:42] ronakice commented on #179
Hey, sorry this took a bit, but added [castorini/duot5-3b-msmarco](https://huggingface.co/castorini/duot5-3b-msmarco/tree/main)!

[2021-05-28 11:42] #179 closed

[2021-07-06 03:28] yixuan-qiao opened #199 "Document segmentation"
Before segment each document into passages by applying a sliding window of 10 sentences with a stride of five, may be some extra pre-processing method using regular expression? We simply use the NLTK package to split sentences and the obtained passages is different from the one in the released index. In some cases, semicolon is used for split, and in other cases, and in other cases, sentences with

[2021-07-06 03:31] MXueguang commented on #199
Hi @yixuan-qiao

which index are you looking at?

[2021-07-06 03:39] yixuan-qiao commented on #199
the index we use is **msmarco-doc-per-passage**, command is
_searcher = SimpleSearcher.from_prebuilt_index('msmarco-doc-per-passage')_

![image](https://user-images.githubusercontent.com/25563825/124538776-c347a580-de4e-11eb-845c-77253faec191.png)

The top one is ours, and the bottom one is extracted directly from the index

[2021-07-06 04:31] MXueguang commented on #199
see this repo? https://github.com/castorini/docTTTTTquery

[2021-07-06 04:41] MXueguang commented on #199
basically we use spacy sentensizer, the spacy version should be 2.1.6 IIRC

[2021-07-06 04:57] yixuan-qiao commented on #199
I find the data processing script and I will try immediately. Awesome memory, thanks!

[2021-07-21 18:30] tanyaroosta opened #202 "Using pygaggle for question answering on a custom dataset"
Hi,
I am interested in using pygaggle on a dataset I have for question answering task.  However, looking at the examples in the ReadMe file, I am not clear how to do that.  Is there an example you can refer me to?

Thanks.

[2021-07-21 19:15] lintool commented on #202
If you're interested in QA, then you can start with our DPR reproduction?
https://github.com/castorini/pygaggle/blob/master/docs/experiments-dpr-reader.md

[2021-09-13 03:11] leungjch opened #221 "Problem replicating MS MARCO passage subset"
I am unable to replicate the results for the MS MARCO passage subset experiment for monoT5 [in this section](https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-passage-subset.md#re-ranking-with-monobert). I tried running on a Google Colab instance as well as my local machine, and strangely they produce different errors.  I was able to perfectly replicate the results for mon

[2021-09-14 13:12] leungjch commented on #221
Update: I tried reproducing on Colab again with some changes, and the monoBERT ranking task works properly, but now I have the exact error on monoT5 as originally described on my local machine (`414 Client Error: Request-URI Too Large for url: https://huggingface.co/T5ForConditionalGeneration`).

What I changed in Colab was that `pip install pygaggle` should actually be `pip install /pygaggle`, si

[2021-09-14 14:23] stephaniewhoo commented on #221
I've had the same issue when running on cc with virtual env.

[2021-09-16 14:00] mzzchy commented on #221
I am able to reproduce this error on colab as well. Let me try on cc.

[2021-09-21 00:58] yixuan-qiao opened #222 "monoT5 fine-tuning process"
Is there any plan to make the fine-tuning process of monoT5 & duoT5 public?

We follow the steps in the paper to finetune the T5-base & T5-3B in pytorch framework using model parallelism and data parallelism. At present, we just completed the base version and got NDCG@10 0.62 compared to yours 0.68. For 3B model, so far 67k steps have been trained, the best NDCG@10 less than 0.68. We are curious i

[2021-09-21 10:03] rodrigonogueira4 commented on #222
We will be sharing a pytorch training script in a week or two that gets close to the original TF training.

[2021-09-22 07:48] TuozhenLiu commented on #222
Would you mind sharing the Adafactor config in advance? We're following the config by [Huggingface pytorch verision](https://huggingface.co/transformers/main_classes/optimizer_schedules.html#adafactor-pytorch) and confused about some details, like wheather to add "scale-parameter", "weight-decay"  and "lr-warm-up-stragety". Much thanks.

[2021-09-23 17:58] vjeronymo2 commented on #222
Hi guys
You can check all these parameters and the finetuning script draft (working) here: https://github.com/vjeronymo2/pygaggle/blob/master/pygaggle/run/finetune_monot5.py
I'll be doing a PR soon

[2021-09-24 02:37] yixuan-qiao commented on #222
Thanks for releasing the excellent work.

In finetune_monot5.py, I find the base_model is _castorini/monot5-base-msmarco-10k_, the discriptions on huggingface is as follows

I am confused this model is already finetuned after 1 epoch from original google T5-base? but the 10k steps is not consistent, the same thing happened on castorini/monot5-base-msmarco

I'm not sure if there's something wrong w

[2021-09-24 09:15] rodrigonogueira4 commented on #222
The MS MARCO dataset has ~530k query-positive passage pairs. We don't count negatives because they are virtually infinity. Using a batch of size 128, half of which are made of positive passages, we do approximately one epoch on the positive examples after training for 10k steps (64*10k=640k positives seen).
Does that make sense?

[2021-09-24 10:14] yixuan-qiao commented on #222
so amazing that just see roughly all query-positive passage pairs once can almost match the final performance. just curious how you get 10k checkpoints from T5-base?

[2021-09-24 17:11] vjeronymo2 commented on #222
Oh, thanks for bringing this up! The default is supposed to be the regular 't5-base' model, not 'castorini/monot5-base-msmarco-10k', that has already been finetuned. Sorry for the confusion

You can train the model with the first 640k lines from triples.train.small.tsv, which would result in 1280k samples ( 640k positives + 640k negatives). The batch_size we're using is 128, so the total number of

[2021-09-26 03:15] yixuan-qiao commented on #222
Got it, much thanks. ;-)
Is there a plan to release t5-3b fine-tuning script? we try to use the framework of NVIDIA/Megatron-LM to fine-tune the 3b model, but the performance is so bad, we are working on the problems.

[2021-09-26 10:36] rodrigonogueira4 commented on #222
We don't plan to release the script for fine-tuning 3B as we also found it is quite complicated to do so with current Pytorch frameworks. In that case, I highly recommend using Mesh Tensorflow.

[2021-09-27 08:47] XY2323819551 opened #223 "What dose “GAR” in "Dense Passage Retrieval (DPR) Baselines" refer to ?"
Hello，I want to know whether the “GAR” in "Dense Passage Retrieval (DPR) Baselines" is the same thing in the paper which named "Generation-Augmented Retrieval for Open-Domain Question Answering"?  If it is, How dose "GAR" work in your  repository?
Thanks in advance.😊

[2021-09-28 14:12] MXueguang commented on #223
Hi @XY2323819551,
we explained in this paper https://arxiv.org/abs/2104.05740.
tl;dr, we take the answer span prediction rule in the GAR work.
but we didn't use any generation etc from GAR work

[2021-09-29 00:02] yixuan-qiao commented on #222
It seems that mesh tf is compatible with TPU well than GPU cluster. We almost replicated the effect of the monot5-base model with the model & data parallel framework using the parameters you provide. :-)

We use the same set of config to try monot5-3b model but not very well as expected. Would you mind share some training parameters or strategies for 3B model, such as lr, warmup steps, weight deca

[2021-10-04 20:46] rodrigonogueira4 commented on #222
Hi @yixuan-qiao, sorry for taking so long. Here is the CMD we used to finetune T5-3B on MS MARCO:
[code]

[2021-10-16 08:24] Elfsong opened #226 "How to use monot5-large-msmarco on huggingface"
I found you have uploaded the ' monot5-large-msmarco' on huggingface. You said, "For more details on how to use it, check pygaggle.ai" However, I cannot find where is 'pygaggle.ai'...

Can you share a tutorial about how to use this model? Thank you.

[2021-10-18 05:51] Elfsong commented on #226
@rodrigonogueira4 Thank you for your reply.

I have tried the README instruction a few days ago. However, the performance is not good as expected. Here is my script, can you help me to have a look?

`
from pygaggle.rerank.base import Query, Text
from pygaggle.rerank.transformer import MonoT5

# Retrival Top 20 abstracts by BM2.5
top_k = 20

retrieval_results = defaultdict(set)

for data in tqdm(sc

[2021-10-18 22:46] AlexWang000 opened #227 "Cannot reproduce the result in experiments-msmarco-passage-subset"
I can successfully reproduce the result for monoBert and get exact same numbers.

But for monoT5, I get the following error during the "evaluate_passage_ranker: Loading Ranker & Tokenizer" stage

[code]

Seems to me it is trying to fetch T5ForConditionalGeneration from huggingface but cannot get it due to the config being too large? Maybe it is a huggingface issue.

Please see full error here:
htt

[2021-11-09 14:24] #226 closed

[2021-11-10 07:57] ronakice commented on #223
Resolving, open if required

[2021-11-10 07:57] #223 closed

[2021-11-23 09:33] Elfsong commented on #226
I forgot to sort the output...

[2021-11-25 12:22] aabayarea opened #239 "SciFact Index"
Hello, I tried to download the SciFact Index but the file was deleted. Is there an updated link? https://www.dropbox.com/s/khzy7r0pk124cpx/scifact_index.zip

[2021-11-25 15:18] MXueguang commented on #239
sorry, just recovered.
same link.

[2021-12-03 03:26] yixuan-qiao commented on #222
We reproduced the performance of monoT5-3b. Thanks a lot!!!

As you said in the paper, i use the output from monot5 as input to the duoT5. Specifically, for each query, take top 50  according to the score from monot5-3b, built 50*49=2450 pairs in sequence, finally total 12.8M training examples.

After training for about 50K iterations, i got about 0.72 ndcg@5, 0.71 ndcg@5, much lower than yours.

[2021-12-03 11:09] rodrigonogueira4 commented on #222
Hi @yixuan-qiao, for training duoT5, we used the original triples.train.small from MS MARCO as in the training of duoBERT: https://github.com/castorini/duobert#training-duobert

That is, triples of <query, negative_doc, positive_doc> or  <query, positive_doc, negative_doc> are given as input to the model, where negative_doc and positive_doc are from triples.train.small.tsv.
Note that during traini

[2021-12-03 23:49] yixuan-qiao commented on #222
I am not sure why duoT5 can not see the triple format. It takes the following format as input,
Query: 𝑞 Document0: 𝑑𝑖 Document1: 𝑑𝑗 Relevant: true(or false)

But from the point of loss function, duoT5 indeed use LM loss not the triple loss.

[2021-12-05 15:55] rodrigonogueira4 commented on #222
duoT5 cannot see during training _both_ positive or negative documents because how would you define the target? That is, if p_{i_j} = 1 means that doc i is more relevant than doc j, which probability should we use if both doc_i and doc_j are relevant (or not relevant).

[2021-12-12 09:52] Elfsong opened #243 "LisT5 TPU inference"
@kelvin-jiang Can you share the code or instruction of the LisT5 TPU inference part?
By the way, have you tried the T5-large model before? If so, may I ask how the T5-large performs? Thank you!

[2021-12-16 21:59] kelvin-jiang commented on #243
We ran TPU inference on GCP using the T5 and TF mesh libraries, using a command like this:

[code]

And unfortunately no, we have not tried using T5-large before.

[2021-12-21 07:19] #243 closed

[2021-12-28 13:01] Elfsong opened #244 "Access checkpoints"
Hi @MXueguang, may I ask how to access these checkpoints?

Thank you!

[2021-12-28 19:25] MXueguang commented on #244
Hi @Elfsong, could you retry? I just modify the permission

[2021-12-29 08:54] Elfsong commented on #244
It works! Thank you so much for your rapid reply!

[2021-12-29 08:54] #244 closed

[2021-12-29 09:06] Elfsong commented on #244
Btw, there is an outdated parameter that may need to update in "Convert T5 output to sentence selection result file (in jsonl format)":

[2021-12-29 09:07] Elfsong commented on #244
In the "Run T5 inference for sentence selection" section:
Should the gin file "operative_config.gin" be specified as "gs://t5-data/pretrained_models/3B/operative_config.gin"?

[2022-01-06 22:23] #239 closed

[2022-01-10 08:57] hadifar opened #246 "File "pipes.pyx", line 1465, in spacy.pipeline.pipes.Sentencizer.from_nlp TypeError: type() takes 1 or 3 arguments"
Running the re-ranking example throws the following exception:

[code]

Do you know what's the problem and how can I fix it?

spacy version: 2.2.4
tokenizers version: 0.10.3
transformers version: 4.15.0

Thanks

[2022-01-10 19:06] ronakice commented on #246
Install from source? The spacy version is not `2.2.4` in the requirements file

[2022-01-12 10:03] hadifar commented on #246
Thanks for your quick reply.

I installed the library by running `pip install -r requirements`. The issue is due to my python version, the problem was fixed when I switched to python 3.7 :)

[2022-01-12 12:11] lintool commented on #246
Hi @hadifar - Can you try using Python 3.8 and see what happens? cf. https://github.com/castorini/pyserini/issues/916

[2022-01-27 19:45] jayralencar commented on #221
On colab, run:
`!pip install transformers==4.6.1`
and restart runtime.

Worked for me.

[2022-03-31 15:57] vinaysetty opened #263 "Pygaggle release with spacy 3"
It looks like the latest master branch uses spacy 3 in requirements.txt but when I try to install the latest version (0.0.3.1) from pypi https://pypi.org/project/pygaggle/ is not compatible with spacy 3.

1. Will there be a new release with spacy 3?
2. Why is there no release tag with 0.0.3.1?

[2022-04-07 21:25] joelrorseth opened #265 "Broken link in experiments-msmarco-document.md"
Hi, I'm following the document retrieval steps in `docs/experiments-msmarco-document.md`.  It appears that the link for the pre-built MS MARCO index is dead. Would it be possible to get an updated link? Here is the command / link in question:

`wget https://www.dropbox.com/s/awukuo8c0tkl9sc/index-msmarco-doc-20200527-a1ecfa.tar.gz`

[2022-04-08 15:49] lintool commented on #265
Hi @joelrorseth try this one, which is more up to date: https://github.com/castorini/pyserini/blob/master/pyserini/prebuilt_index_info.py#L1020

Please send a PR to fix?

Thanks!

[2022-04-08 23:57] joelrorseth commented on #265
Excellent, that seems to work, thanks for the quick response. I'd be happy to open a PR, I'll do that as soon as I finish the remainder of these instructions!

[2022-04-09 00:20] joelrorseth commented on #263
Just ran into this issue as well. I actually got a few errors, all thrown by `spacy==3.0.6`, first complaining that the `numpy` module wasn't found, then same for `Cython` module. After installing these into my venv and retrying, I got a very verbose error from spacy, listing many Cython compilation errors.

Anyways, turns out this is a common issue with spacy, there is a discussion about it in th

[2022-04-09 18:06] joelrorseth opened #267 "Several re-ranking issues in experiments-msmarco-document.md"
Hi, I'm following the instructions in `docs/experiments-msmarco-document.md`, and I am running into a few issues during the first re-ranking step `Re-Ranking with monoT5` (https://github.com/castorini/pygaggle/blob/master/docs/experiments-msmarco-document.md#re-ranking-with-monot5).

Here are my environment details. Btw, I'm a UW CS grad student, and I'm running on the datasci gpu2 machine. I'd be

[2022-04-10 12:56] lintool commented on #267
hey @joelrorseth thanks for noting these issues. I just pinged you on Slack as follow-up.

I don't think anyone has tried to replicate this for a while, so it's great that you're working on it... let me loop in @ronakice here.

But tl;dr - we'll get someone from our end to help you store through everything!

[2022-04-17 00:09] joelrorseth commented on #265
Closing now, since the fix has been merged. Thanks for your help!

[2022-04-17 00:09] #265 closed

[2022-05-19 21:33] jx3yang commented on #221
Reproducing the monoT5 results on Colab seems to work fine on the current version of the code.
See https://colab.research.google.com/drive/1WxdR0R2XZTcNehsCK9NTm9_Zk53Byt66?usp=sharing
Commit: [9728299](https://github.com/castorini/pygaggle/commit/9728299b64f24d649b0fedca0a08a8b7d39064af)

[2022-06-07 16:04] galuscakova opened #284 "JSimpleSearcherResult import problem"
I am trying to run T5 reranking using Pygaggle and these instructions: https://github.com/castorini/pygaggle and I am getting a following error:

[code]

I guess it is a problem in the mismatch between Pygaggle and Pyserini versions? At least, I was able to get this running by using older Pyserini version. However, that version, didn't seem to support the latest models such as MSMARCO v2 trained m

[2022-06-07 23:01] manveertamber commented on #284
Could you confirm the pyserini version you have installed with which you got it running? You can check using `pip list`.

[2022-06-08 19:40] manveertamber commented on #284
So you were able to get it running with Pyserini version 0.17.0? That is the latest version. I was just able to run T5 reranking from the README with Pyserini 0.17.0 myself.

[2022-06-08 21:40] manveertamber commented on #284
@galuscakova I think I see your problem. Make sure to install pygaggle using https://github.com/castorini/pygaggle#additional-instructions instead of pip install. Does that help?

[2022-06-09 14:35] galuscakova commented on #284
Yes, this helped. Thank you for such a fast help!

[2022-06-25 02:27] aandyw opened #289 "collections.tar.gz cannot be found via dropbox url"
I'm trying to download the `collections.tar.gz` file through dropbox but it seems to be deleted.
[code]
encounters an ERROR 404.

[2022-06-27 11:41] lintool commented on #289
Hi @Pie31415 can you show us the landing page this URL comes from? I can't tell whose dropbox account owns this file?

[2022-06-27 13:24] Pie31415 commented on #289
The url from the "Data Prep" of the readme https://github.com/castorini/pygaggle/blob/master/docs/experiments-monot5-gpu.md

[2022-07-11 14:55] SinghShreyas opened #293 "ModuleNotFoundError: No module named 'faiss'"
When I am trying to run this line `from pygaggle.rerank.base import Query, Text` following the instruction of the README file, I am getting ModuleNotFoundError: No module named 'faiss'.

I have followed the installation instruction from the README file.

Any help in this would be appreciated!

[2022-07-12 16:41] lintool commented on #293
Dup of https://github.com/castorini/pyserini/discussions/1232

[2022-07-12 16:41] #293 closed

[2022-11-11 08:32] yikee opened #303 "Java Runtime Environment Error"
Hi! I am getting the following error when implementing monoT5.

2022-11-11 00:25:43 [INFO] loader: Loading faiss with AVX2 support.
2022-11-11 00:25:43 [INFO] loader: Could not load library with AVX2 support due to:
ModuleNotFoundError("No module named 'faiss.swigfaiss_avx2'")
2022-11-11 00:25:43 [INFO] loader: Loading faiss.
2022-11-11 00:25:43 [INFO] loader: Successfully loaded faiss.
[thread 36

[2022-11-11 11:24] lintool commented on #303
As we documented here: https://github.com/castorini/pyserini#installation - you'll need to downgrade to Java 11.

[2022-11-11 11:24] #303 closed

[2022-11-11 19:12] yikee commented on #303
still getting the same error after downgrading to Java 11

[2022-11-11 20:34] lintool commented on #303
Java VM: Java HotSpot(TM) 64-Bit Server VM (19.0.1+10-21, mixed mode, sharing, tiered, compressed oops, compressed class ptrs, g1 gc, bsd-amd64)

What version does it say now after you downgrade?

[2022-11-11 20:43] yikee commented on #303
`JRE version: Java(TM) SE Runtime Environment 18.9 (11.0.17+10) (build 11.0.17+10-LTS-269)
Java VM: Java HotSpot(TM) 64-Bit Server VM 18.9 (11.0.17+10-LTS-269, mixed mode, tiered, compressed oops, g1 gc, bsd-amd64)`

[2022-11-11 20:49] lintool commented on #303
Can you try the instructions here? https://github.com/castorini/pyserini/blob/master/docs/installation.md

In particular, try this conda env:

[code]

[2022-11-11 20:54] yikee commented on #303
still the same
`JRE version: OpenJDK Runtime Environment Zulu11.43+55-CA (11.0.9.1+1) (build 11.0.9.1+1-LTS)
Java VM: OpenJDK 64-Bit Server VM Zulu11.43+55-CA (11.0.9.1+1-LTS, mixed mode, tiered, compressed oops, g1 gc, bsd-amd64)
`

[2022-11-12 13:51] lintool commented on #303
Hrm... really not sure what to say... we've had no issues before on our end. Are you sure your paths are set correctly? I.e., different versions of Java on your machine, and Python is talking to the wrong version?

[2022-11-25 13:10] polgrisha opened #307 "Cannot reproduce "monot5-base-msmarco-10k" via pytorch script"
Hello!

I am trying to reproduce quality of monoT5 on [BEIR](https://github.com/beir-cellar/beir) benchmark from the recent [article](https://arxiv.org/pdf/2206.02873.pdf). But after running script `finetune_monot5.py` on one epoch, as stated in the description of the checkpoint "monot5-base-msmarco-10k", my results are quite lower.

For example, on NQ, when I use my checkpoint the result is **0.5